*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after{
    box-sizing: border-box
}
*::before{
    box-sizing: border-box
}
input[type="submit"]{
    -webkit-apperaence: none; /* button也行 */
    
}
body{
    font-size: 12px;
    line-height: 1.5
}

/* layout */
.page{
display: flex;
height: 100vh;
}
.page>aside{
width: 200px;
display: flex;
flex-direction: column;  /* 由原来的左右结构变成上下结构 */
}

.page>main{
flex-grow: 1;
border: 1px solid green;
}


/*saide*/
main{
    background: #999;
}
.newSong{
    text-align: center;
    padding:10px
}
.newSong.active{
    background: #d4d4d4;
}
.songList{
    flex-grow: 1; /* 和上面的 flex-direction:column 配合使用*/
    text-align: left;
    border-top: 1px solid #998;
}
.songList>li{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.songList>li.active{
    background: #d4d4d4;
}
.upload{}

.ui-upload{
    font-size: 1.8em;
    border-radius: 8px;
    color: white;
    background-color: red;
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin:25px;
}

.ui-upload:hover {
    box-shadow: 6px 3px 20px 1px rgba(0,0,0,0.4);
}
main>h1{
    margin: 25px;
}
form{
    font-size: 15px;
    margin: 25px;
}
.row{
    display: flex;
    margin: 10px;
}
.form input[type=text]{
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 30px;

}
.ui-sub
{
    margin-left: 105px;
    border-radius: 5px;
    border: 1px solid #998;
    background: skyblue;
    height: 30px;
    width: 60px;
    text-align: center;
    padding-top: 3px;
}
.ui-sub:hover{
    box-shadow: 3px 1.5px 10px 1px rgba(0,0,0,0.4);
}